profiles {
  mamba {
    conda {
      enabled = true
      useMamba = true
    }
    process {
      conda = true

      withName: 'wget_.*' {
        conda = false
      }
    }
  }
}

process {
  cpus = 1

  withName: 'hisat2_build' {
    cpus = 4
  }

  withName: 'hisat2_align' {
    cpus = 2
  }

  withName: 'fastp_short' {
    cpus = 2
  }
  
  withName: 'salmon_quant' {
    cpus = 4
  }

  withName: 'stringtie_count' {
    cpus = 4
  }
}