/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

conda {
      enabled = true
      useMamba = true
    }

process {
      conda = true

      withName: 'wget_.*' {
        conda = false
      }
    }
